<div class="container pt-5">

    <img src="/assets/img/burger.jpg" class="rounded mx-auto d-block" alt="Burger" width="200" height="200">
    <h1 class="text-center">Eat-Da-Burger!</h1>

    <form id="create-form">

        <div class="form-group text-center">
            <input type="text" id="ca" name="name">
        </div>
        <div class="text-center">
            <button type="submit" class="text-center">Add Burger!</button>
        </div>

        
    </form>


    <div class="row pt-5">
        <div class="col">
            

            <ul>
                <h3 class="text-center">Burgers Available </h2>
                {{#each burgers}}
                {{#unless devoured}}
                <li class="text-center">
                   
                        <span>{{this.id}}. </span>{{this.burger_name}}
                        <button data-id="{{this.id}}" class="devour-burger">Devour It!</button>
                 

                </li>
                {{/unless}}
                {{/each}}

            </ul>

        </div>
        <div class="col">
           

            <ul>
                 <h3 class="text-center">Burgers Devoured</h2>
                {{#each burgers}}
                {{#if devoured}}
                <li class="text-center">
                    
                        <span>{{this.id}}. </span>{{this.burger_name}} 
                        
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>



</div>